
body { 
    margin:0; 

    /* .pixelify-sans {
        font-family: "Pixelify Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
    } */
}

.message-screen {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Pixelify Sans", sans-serif;
    font-size: 90px;
    text-align: center;
    display: none;
    color: black;
    z-index: 10;    
}

.message-screen small {
    font-size: 20px;
}

#board {
    background-color: gray;
    border-bottom: 1px solid black;
}

